//headerfont 
$footer-font: 'Otomanopee One', sans-serif;
//bodyfont
$body-font: 'Roboto', sans-serif;

//colors
$yellow: #ffcb05;
$darkYellow: #c7a008;
$lighterBlue: #9cdcf0;
$lightBlue: #2a75bb;
$darkBlue: #3c5aa6;
$red: #FF0000;
$white: #FFFF;
$black: #0F0F0F;